.line {
  fill: none;
  stroke: #41a5d9;
  stroke-width: 0.8px;
  opacity: 0.8;
}

.area {
  stroke: none;
  stroke-width: 1px;
  stroke-opacity: 0.4;
  // opacity: 0.4;
}

.rule {
  fill: none;
  stroke: #80001e;
  stroke-width: 1px;
  stroke-dasharray: 4 3;
}
