.line {
  fill: none;
  stroke: #5e82c8;
  stroke-width: 0.8px;
  opacity: 0.8;
}

.area {
  stroke: none;
  stroke-width: 1px;
  stroke-opacity: 0.4;
  // opacity: 0.4;
}

.rule {
  fill: none;
  stroke: #990f3d;
  stroke-width: 1px;
  stroke-dasharray: 4 3;
}
